.goalsCheckForm{
    margin: 2rem 6rem;
    padding: 0.5rem;
    

}

legend{
    font-size: 1.5rem;
    
}

.textMoney{
    background-color: #e4d6f4;
    padding: 1rem;
    margin: 0rem 8rem;
    border-radius: 1rem;


}